<h1>Account:<%= current_user.name %></h1>
<p>
  <% if enter? %>
      current room:<%= current_room.token %><br />
      <%= "#{enter_url}?t=#{current_room.token}" %><br />
      <%= link_to "exit room", exit_path, method: :delete %>
  <% else %>
      <%= link_to "create room", create_room_path, method: :post %>
  <% end %>
</p>
<p><%= link_to "logout", logout_path, method: :delete %></p>