<div class="body">
  <div class="title-outer">
    <div class="title-inner">
      集まれば、遊べる。
      <%= image_tag("circle1_color_gradation.svg", class: 'logo_image', alt: 'CIRCLE') %>
    </div>
    <%= render 'layouts/copyright'%>
  </div>
  <div class="body-outer">
    <div class="body-inner">
      <h3>新規登録</h3>
      <span class="line"></span>
      <%= form_for @user, url: append_query(signup_path, p: params[:p]), method: :post, html:{id:'sign-up-form'} do |f| %>
          <div class="field">
            <%= f.email_field :name, class:'dynamic-label-input form-control', placeholder:'名前' %>
            <label for="dynamic-label-input">名前</label>
            <span class="help-text"></span>
            <div class="text-danger help-text"></div>
          </div>
          <div class="field">
            <%= f.email_field :email, class:'dynamic-label-input form-control', placeholder:'メールアドレス' %>
            <label for="dynamic-label-input">メールアドレス</label>
            <span class="help-text"></span>
            <div class="text-danger help-text"></div>
          </div>
          <div class="field">
            <%= f.password_field :password, class:'dynamic-label-input form-control', placeholder:'パスワード' %>
            <label for="dynamic-label-input">パスワード</label>
            <div class="text-danger help-text"></div>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, class:'dynamic-label-input form-control', placeholder:'パスワード確認' %>
            <label for="dynamic-label-input">パスワード確認</label>
            <div class="text-danger help-text"></div>
          </div>
          <div class="button-field">
            <a href="javascript:void(0)" onclick="$('#sign-up-form').submit();return false;" class="button">新規登録</a>
            <div class="or">or</div>
            <%= link_to "ログイン", append_query(login_path, p: params[:p], a: 'none'), class:'button' %>
          </div>
      <% end %>
    </div>
    <%= render 'layouts/copyright'%>
  </div>
</div>