<div id="signup">
  <div class="window-left col-md-6 col-12">
    <span class="catch-copy">集まれば、遊べる。</span>
    <%= image_tag("circle1_color_gradation.svg") %>
  </div>
  <div class="window-right col-md-6 col-12">
    <h1>新規登録</h1>
    <span class="line"></span>
    <%= form_for @user, url: signup_path do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                The form contains <%= pluralize(@user.errors.count, "error") %>.
              </div>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field">
          <label>名前</label>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <label>メールアドレス</label>
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <label>パスワード</label>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <label>パスワード確認</label>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class:'submit' %>
        </div>
    <% end %>
    <p>
      <%= link_to "ログイン", login_path, class:'submit-link' %>
    </p>
  </div>
</div>
