<h1><%= current_user.name %></h1>
<p>
  <% if enter? %>
    <p><%= link_to  "現在の部屋", room_path %></p>
  <% else %>
    <p><%= link_to "ルーム検索", enter_path %></p>
    <p><%= link_to "ルーム新規作成", room_create_path, method: :post %></p>
  <% end %>
</p>
<p><%= link_to "アカウント設定", account_setting_path %></p>
<p><%= link_to "ログアウト", logout_path, method: :delete %></p>