<h1>ルーム設定</h1>
<%= form_for current_room, url: room_setting_path do |f| %>
    <div class="field">
      <%= f.check_box :allow_search %>ルーム名とルームキーで検索を許可する
    </div>
    <div class="field">
      <label>ルーム名</label>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <label>ルームキー</label>
      <%= f.text_field :password %>
    </div>
    <div class="field">
      <%= f.submit "保存" %>
    </div>
<% end %>
<p><%= link_to "キャンセル", room_path %></p>