<h1>ルーム</h1>
<p>アカウント:<%= link_to current_user.name, account_path %></p>
<% if current_room.playing? %>
    <p><%= link_to "現在のゲーム", root_path %></p>
<% end %>
<p>
  <input type="text" value="<%= "#{enter_url}?p=#{current_room.token}" %>" id="room_url_text" data-room-url="<%= "#{enter_url}?p=#{current_room.token}" %>" readonly onfocus="select_room_url()">
  <input type="button" value="URLをコピー" onclick="copy_room_url()">
  <br/>
  <%= link_to "URLをLINEで共有", "http://line.me/R/msg/text/?ルームに入室する[#{enter_url}?p=#{current_room.token}]", target:'_blank', rel:'noopener' %>
</p>
<p id="members_list"></p>
<p id="allow_search"></p>
<% if !current_room.playing? %>
    <p><a href="javascript:void(0)" onclick="App.room.write({class: 'start'})">GameStart</a></p>
<% end %>
<p><%= link_to "ルーム設定", room_setting_path %></p>
<p><%= link_to "退出", exit_path, method: :delete %></p>
